<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% seo %}
  </head>

  <body>
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a href="{{ "/" | relative_url }}" id="logo_home_link" aria-label="Till startsidan"></a>
          <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
        </header>
    </div>

    <!-- The Sub-Header Disclaimer Bar (Figma Style) -->
    <div id="sub_header_bar" class="outer">
      <div class="inner">
        <b>Viktigt:</b> Denna portal och dess Sandbox (inklusive testplånbok, test-PID, testutfärdare och verifieringsflöden) är en testmiljö. Endast fiktiv testdata används, och verkliga personuppgifter eller produktionsdata får <b>inte</b> användas.
      </div>
    </div>

    <div id="main_content_wrap" class="outer">
      <main id="main_content" class="inner">
        <div class="layout-wrapper">
          <aside class="sidebar">
            <nav>
              <ul>
                <li><a href="{{ "/" | relative_url }}" class="{% if page.url == '/' %}active{% endif %}">Startsida</a></li>
                <li><a href="{{ "/pages/anslutning-fp.html" | relative_url }}" class="{% if page.url == '/pages/anslutning-fp.html' or page.url == '/pages/anslutning-fp/' %}active{% endif %}">Anslut som förlitande part</a></li>
                <li><a href="{{ "/pages/standarder-och-profiler.html" | relative_url }}" class="{% if page.url == '/pages/standarder-och-profiler.html' or page.url == '/pages/standarder-och-profiler/' %}active{% endif %}">Standarder & Profiler</a></li>
                <li><a href="{{ "/pages/prova-planboksappen.html" | relative_url }}" class="{% if page.url == '/pages/prova-planboksappen.html' or page.url == '/pages/prova-planboksappen/' %}active{% endif %}">Testa plånboksappen</a></li>
                <li><a href="{{ "/pages/ordlista.html" | relative_url }}" class="{% if page.url == '/pages/ordlista.html' or page.url == '/pages/ordlista/' %}active{% endif %}">Ordlista</a></li>
              </ul>
            </nav>
          </aside>
          <div class="content-body">
            {{ content }}
          </div>
        </div>
      </main>
    </div>

    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">diggsweden</a></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/copy-code.js" | relative_url }}"></script>
  </body>
</html>
